
# dependencies
node_modules/
.astro/
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo


# environment variables
.env
.env.production

# editor config
.vscode/

# macOS-specific files
.DS_Store

# local resume variants (not in public/)
/RESUME-*
