---
import { profile } from '../data/profile';
---

<footer class="status-bar">
  <div class="status-bar-left">
    {profile.languages.map((lang, i) => (
      <span>
        {lang.name}/{lang.fluency}
        {i < profile.languages.length - 1 && <span class="status-sep" aria-hidden="true">|</span>}
      </span>
    ))}
  </div>
  <div class="status-bar-right">
    <span id="copyrightYear"></span>
  </div>
</footer>
